body{
  font-family: "Roboto", sans-serif;
  font-size: larger;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;

  text-align: left;
}

p{
  font-family: "Comic Relief", system-ui;
  font-weight: 400;
  font-style: normal;
  line-height: 1.5;
}

header{
    background-color: azure;
}

nav{
    background-color: aquamarine;
}

main{
    background-color: seashell;
    font-size: large;
}

footer{
    background-color: blanchedalmond;
    font-size: medium;
}

h1{
    text-align: center;
    font-family: "Roboto", sans-serif;
    color: orangered;
}
ul{
    display: flex;
    align-items: center;
    justify-content: center;
}
li{
    display: inline-block;
    text-align: center;
    width: 200px;
}

img{
    padding: 10px 10px 10px 10px;
    width: 250px;
    height: 250px;
    display: inline-block;
    margin: 0 auto;
}
.images{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}